.btn-toggle {
    position: absolute;
    top: 13px;
    left: 49%;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
}

.dark-btn {
    background: #222;
    color: #f1f1f1;
}
